@charset "utf-8";

#news_cont{height: 945px; margin-top: -60px;margin-bottom: 60px;}
#news_cont .wrap{width: 1200px; height: 100%; margin: 0 auto; padding: 0 110px;}
#news_cont .wrap .title{text-align: center; margin-bottom: 40px; color: #5c5c5c; font-weight: bold;}
#news_cont .wrap .cont{font-size: 0;}
#news_cont .wrap .cont .contents{width: 980px; height: 165px; border-top: 1px solid #5e889e; border-bottom: 1px solid #5e889e; font-size: 14px;}
#news_cont .wrap .cont .contents{border-top: none;}
#news_cont .wrap .cont .contents:nth-child(1){border-top: 1px solid #5e889e;}
#news_cont .wrap .cont .contents > div{}
#news_cont .wrap .cont .contents .img{display: inline-block; vertical-align: top; width: 280px; height: 125px; background-size: cover; background-position: 50% 50%; background-color: #fff; margin: 20px 10px;}

#news_cont .wrap .cont .contents:nth-child(1) .img{background-image: url(../img/news_01.jpg);}
#news_cont .wrap .cont .contents:nth-child(2) .img{background-image: url(../img/news_02.jpg);}
#news_cont .wrap .cont .contents:nth-child(3) .img{background-image: url(../img/news_03.jpg);}
#news_cont .wrap .cont .contents:nth-child(4) .img{background-image: url(../img/news_04.jpg);}
#news_cont .wrap .cont .contents:nth-child(5) .img{background-image: url(../img/news_05.jpg);}

#news_cont .wrap .cont .contents .txt{width: 680px; float: right; padding: 10px}
#news_cont .wrap .cont .contents .txt h1{font-size: 18px; color: #5e889e;}
#news_cont .wrap .cont .contents .txt p{font-size: 14px; color: #5c5c5c;}
#news_cont .wrap .cont .contents .txt .time{margin-top: 10px; text-align: right;}










